@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;  
}
body{
background-image: url(img/gradient.png);
}

.menu{
    color:white;
    text-decoration: none;   
    margin-right: 15px; 
    font-size: 20px;
   
    
}
.menu:hover{
color:white;
}
h1,h2{
    color:white;
    font-weight: bold;
}
h1{
   font-size: 3rem;
}
.name{
    display:flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}